---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <section class="max-w-7xl mx-auto px-4 md:px-8 pt-8">
    <div class="mb-12">
        <h1 class="text-6xl">Who are we?</h1>
        <p class="my-4 max-w-2xl ">Instant Day is a small project run by a couple of lecturers from the Multimedia Design programme at EK - Business Academy Copenhagen. Instant Day is a bi-annual project where lecturers and students collaborate on a digital design and communication project related to the Instant Day competition (this website). In essence, we just want to promote instant photography and have fun while doing it. Cheers.</p>
    </div>
    <div>
        <h1 class="text-5xl">Sponsors</h1>
        <p class="my-4 max-w-3xl">Instant Day is not affiliated to any companies within the Instant Photography industry. The only organisation backing us is EK - Business Academy Copenhagen.</p>
    </div>
  </section>
  <section class="max-w-7xl mx-auto px-4 md:px-8 py-12 md:py-16">
    <div>
        <h1 class="mb-4 text-5xl">The judges</h1>
        <h2>Submissions will be reviewed by:</h2>
    </div>
<div class="max-w-md mx-auto flex overflow-x-auto gap-4 mt-6 md:max-w-none md:grid md:grid-cols-5 md:overflow-x-visible md:gap-4">
  <img src="/judges/jh.png" alt="Judge 1" class="w-32 md:w-auto" />
  <img src="/judges/ekstudents.png" alt="Judge 2" class="w-32 md:w-auto" />
  <img src="/judges/bh.png" alt="Judge 3" class="w-32 md:w-auto" />
  <img src="/judges/sg.png" alt="Judge 4" class="w-32 md:w-auto" />
  <img src="/judges/ad.png" alt="Judge 5" class="w-32 md:w-auto" />
</div>
      </section>
</MainLayout>
