---
import MainLayout from "../layouts/MainLayout.astro";
import ButtonWhite from '../components/ButtonWhite.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import ButtonBlack from "../components/ButtonBlack.astro";
---
<MainLayout title="Home">
<section class="relative isolate min-h-[120vh] md:min-h-[110vh]">
  <!-- Baggrundsbillede -->
  <img
    src="/hero.png"
    alt=""
    class="absolute inset-0 -z-10 w-full h-full object-cover object-bottom"
    aria-hidden="true"
  />

  <!-- Logo -->
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div></div>

    <div class="flex justify-center">
      <img 
        class="w-[70%] md:w-[68%] pt-25 mx-auto md:mx-0" 
        src="svg/logo_hero.svg" 
        alt="Instant Day Logo"
      >
    </div>
  </div>

  <!-- Tekst -->
  <div class="col-span-1 md:col-span-2 text-center mt-10">
    <p class="font-heading text-[24px] md:text-[28px] leading-tight text-[var(--color-beige)]">
      Join us the 18th of October
    </p>
  </div>

  <!-- CTA-knapper -->
  <div class="grid grid-cols-1 md:grid-cols-3 pt-8 gap-4 max-w-4xl mx-auto">
    <ButtonWhite>
      Submit a photo
    </ButtonWhite>

    <ButtonWhite >
      Save the date
    </ButtonWhite>

    <ButtonWhite>
      See the gallery
    </ButtonWhite>
  </div>
</section>

<section>
  <div class="max-w-7xl mx-auto px-4 md:px-8 py-12 md:py-16">
    <h2 class="font-heading text-[length:var(--h2-mobile-size)] md:text-[length:var(--h2-size)]
               text-[var(--color-darkblue)] text-center mb-6 md:mb-8">
      About Instant Day
    </h2>
    <p class="text-[var(--color-darkblue)] text-center max-w-3xl mx-auto">
      Instant Day is a global photography event that takes place annually on the 18th of October. On this day, people from all over the world are encouraged to capture and share a photo that represents their day. The goal of Instant Day is to create a collective snapshot of life on Earth, showcasing the diversity and beauty of our planet through the eyes of its inhabitants.
    </p>
  </div>
</section>
</MainLayout>

<!-- <article>
	<h1>Hejsa dette er en github test</h1>
	<h2>det her er en underoverskrift</h2>
	<ButtonWhite>Klik!</ButtonWhite>
	<ButtonBlack>Submit a photo</ButtonBlack>
	<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
	<Image src={thumbsup} alt=""></Image>
</article> -->