---
import MainLayout from "../layouts/MainLayout.astro";
import AnimatedImg from "../components/AnimatedImg.astro";
import ButtonWhite from "../components/ButtonWhite.astro";
import Htpwb from "../components/Htpwb.astro";
import Form from "../components/Form.astro";
---

<MainLayout title="Share your instant">
    <section class="relative isolate  text-[var(--color-beige)]">
  <Htpwb />
    <Form/>
  </section>
</MainLayout>

  <style>
    input:-webkit-autofill,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px #edeae2 inset !important;
      box-shadow: 0 0 0 1000px #edeae2 inset !important;
      -webkit-text-fill-color: var(--color-beige) !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="file"],
    textarea {
      font-size: 2rem;
      color: var(--color-beige);
      border-color: var(--color-beige);
    }

    ::placeholder {
      color: var(--color-beige);
      opacity: 1;
    }
  </style>