---
import MainLayout from "../layouts/MainLayout.astro";
import Nominees from "../components/Nominees.astro";

// Henter data fra Supabase (REST API)
const curl = "https://cznipoqkgqbqcfxkmgux.supabase.co/rest/v1/nominees";

const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6bmlwb3FrZ3FicWNmeGttZ3V4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxNDA3MzcsImV4cCI6MjA3MzcxNjczN30.SrLzACzXn_atnQqT6QV63Io8G9gfWH9WLoJjAgvd1zM";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());

data.forEach((nominee) => {
  console.log(nominee.image_url);
});
---

<MainLayout title="winners and nominees">
  <div class="m-8 lg:m-10">
    <h1>WINNERS AND NOMINEES</h1>
    <p class="max-w-xl text-left pt-10">
      Instant Day was quite a success with more than 300 contributions. So it
      was difficult to find a winner. After a couple of long but exciting days,
      the judges agreed on the winner and the 16 nominees.
    </p>
  </div>
  <div
    class="relative w-full bg-[url('/svg/nominees_background2.svg')] bg-no-repeat bg-cover"
  >
    <div class="pt-60 pb-60 m-20 xl:pb-150">
      <h1 class="pt-5 pb-20 text-[#E8E4DD]">NOMINEES</h1>
      <div
        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 text-[#E8E4DD]"
      >
        {data.map((nominees) => <Nominees nominees={nominees} />)}
      </div>
    </div>
  </div>
  <section>
    <h1 class="text-center">WINNER</h1>
    <img
      src="/svg/winner_mobil.svg"
      alt=""
      class="block md:hidden w-full h-auto"
    />
    <img src="/svg/winner.svg" alt="" class="hidden md:block w-full h-auto" />

    <div class="max-w-sm mx-auto p-10">
      <h2 class="text-left">02 - Amager Forbrænding</h2>
      <p class="text-left">Submitter: Stefan Grage</p>
      <p class="text-left">
        Description: I would give my right arm for a cigarette. Taken with a
        Lomomatic Square.
      </p>
    </div>
  </section>
</MainLayout>
