<div class="flex justify-center items-center w-full">
<button
  class="w-64 h-16  /* fast bredde og højde */
         inline-flex items-center justify-center
         bg-transparent
         border border-[var(--color-w-txt)] text-[var(--color-w-txt)]
         transition-colors duration-200
         hover:bg-white/60 hover:border-white hover:text-black">
  <span class="font-subheading leading-none text-[length:var(--h2-size)]">
    <slot />
  </span>
</button>

</div>
