<div class="flex justify-center items-center w-full">
<button
  class="w-64 h-16  /* fast bredde og højde */
         inline-flex items-center justify-center
         bg-transparent
         border border-[var(--color-brown)] text-[var(--color-brown)]
         transition-all duration-300 ease-in-out
         hover: hover:border-4">
  <span class="font-subheading leading-none text-[length:var(--h2-size)]">
    <slot />
  </span>
</button>

</div>
