---

---

<footer id="footer" class="relative w-full min-h-[360px] sm:min-h-[420px]">
  <!-- Baggrundsbillede -->
  <img
    src="/footer.png"
    alt="Footer background"
    class="absolute inset-0 z-0 w-full h-full object-cover object-top
           md:object-contain md:object-bottom"
  />

  <!-- Overlay indhold -->
  <div
    class="absolute inset-0 z-10 flex items-center text-[var(--color-beige)]"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-4 gap-5 w-full place-items-center md:place-items-center pt-1 md:pt-20"
    >
      <!-- Logo -->
      <div class="hidden md:flex justify-center md:justify-center">
        <img
          src="/svg/logo_footer.svg"
          alt="Instant Day Logo"
          class="w-40 md:w-48"
        />
      </div>

      <!-- Contact -->
      <div class="text-center md:text-left space-y-2">
        <p class="font-subheading text-2xl md:text-3xl">contact</p>
        <a href="mailto:info@instantday.com" class="underline block"
          >info@instantday.com</a
        >
        <p>+45 90506709</p>
      </div>

      <!-- Terms -->
      <div class="flex justify-center md:justify-start">
        <a href="/terms" class="underline font-subheading text-2xl md:text-3xl">
          Terms and conditions
        </a>
      </div>

      <!-- Copyright -->
      <div class="flex justify-center md:justify-start">
        <p class="underline font-subheading text-2xl md:text-3xl">Copyright</p>
      </div>
    </div>
  </div>
</footer>
